@{
    Layout = "~/Views/Home/_layout.cshtml";

    ViewBag.Title = "About";
}
<br />
<br />
<h3>About the clan</h3>
<hr />
<p>
    A clan that started really small back in 2017. We grew up and because a clan. Builded out of nothing but the passion of gaming.
    The passion for teamwork. And our passion for competive play.
</p>
<br />
<h3>Founders</h3>
<hr />

<p>
    The people who founded init. This is the root of init and there stories
</p>

<div class="about-images-group">
    <div class="about-images-img">
        @*//TODO: make pictures here nad write the javascript for the hover effect of showing the name over the image *@
    </div>
</div>

<br />
<h3>Admins</h3>
<hr />
<p>
    Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text textText text text text Text text text text
</p>
<div class="about-images-group">
    <div class="about-images-img">

    </div>
</div>

<br />

<h3>Moderators</h3>
<hr />

<p>
    Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text text Text text text textText text text text Text text text text
</p>
<div class="about-images-group">
    <div class="about-images-img">

    </div>
</div>
