
@{
    ViewBag.Title = "Tutorials";
}

<h2>Welcome to the squad. Here are some tutorials to get you started</h2>
<hr />


<div >
    <h4>Tutorials avalible</h4>
    <ul>
        <li><a href="#ts">Teamspeak 3</a></li>
        <li><a href="#db">Clan Tag</a></li>
    </ul>
</div>
<br />

<hr />

@*Teamspeak*@
<div>
    <a id="ts" ></a>
    <h2>This is how you setup Teamspeak</h2>
    <p>We use teamspeak for out voice chat. We have a own server.</p>
    <p>
        First go to <a href="https://www.teamspeak.com/downloads.html">Teamspeaks download page</a>
        And download the lates version of Teamspeak. For your computer, once installed open Teamspeak you see this.
    </p>
    <br />
    <img src="~/Content/Images/TeamspeakImg1.jpg" />
    <br />
    <br />
    <text>Now go to connections</text>
    <br />
    <img src="~/Content/Images/TeamspeakImg2.jpg" />
    <br />
    <br />
    <text>Now select connect and you will see this</text>
    <br />
    <img src="~/Content/Images/TeamspeakImg3.jpg" />
    <br />
    <br />
    <text>Fill in this infomation:</text> <br />
    <strong>1. Teamspeak.Initsquad.com</strong> <br />
    <strong>2. Your nickname in game</strong> <br />
    <strong>3. The password of the server. Please check on the bottum for it.</strong> <br />
    <p>
        Then press connect and your in the server. Most probably you wont be able to go to any channes yet.
        You will have to wait untill some one makes you member on the server before you do that.
        If you are having problems connecting try first on the server adress no1. Teamspeak.Initsquad.com:<strong>9987</strong>
        And that sould work
    </p>

</div>
<hr />
<br />


<div>
    <a id="db"></a>
    <h2>Clan Tag</h2>
    <p>
        Its is a clan/squad custom to put a clan tag infront of there name. 
        Here we show you how to do it.
        <br />
        Open dirty bomb and go to a empty game or full. When there open the console by pressing (Key(~)) That sould bring it up.
        It will look like this:
    </p>
    <br />
    <img src="~/Content/Images/ChanTag1.jpg" />
    <br />
    <br />
    <p>
        Once up you right the following line : <strong>SetClanTag INIT</strong>
        <br />
        And that is it. You have now set the clan tag. It might take a while so dont worry if you do not see it immediately.
    </p>

</div>

<hr />
<p>Teamspeak password has not been set yet. It will come soon.</p>
