
@{
    ViewBag.Title = "WantToBecome";
}

<h2>You want ot become a member?</h2>
<hr />
<p>
    This is a closed group but if you really do want to join than you have to try and contact one of our Admins.
    There is no other way. And please dont start putting INIT infront of your name and than excpect use to accept you, 
    We will put you on a ban list for not allowed to join.
</p>
<p>
    Once you have talked to one of our Admins than we can see if you have recived a code. You can register right now Here. Else
    You have to speak to the Admins
</p>

