@{
    ViewBag.Title = "Confirm Email";
}

<div>
    <p class="col-md-5">
        Thank you for confirming your email address. You can now use forget password if you forget.
        Click here @Html.ActionLink("here", "Index", "Home") to return to the home page.
    </p>
</div>
