
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_layout.cshtml";
}

<h2>Welcome Admins</h2>
<p>
    Hello here is the admin controls for all the admins.
    Kevin will also put here news for admins if there is any.
    <br />
</p>

