@using ClanWeb.Web.Models
@model IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Manage/_layout.cshtml";
}


<h2>Welcome to INIT Squad.</h2>
<p>
    Here you can change you profile settings and more. Fetures may be added you will hear it.
</p>